{% extends 'myauth/base.html' %}

{% block Title %}
    Login
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        {% if error %}
            {{ error }}
        {% endif %}


        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="username">Username:</label>
        <input type="password" id="password" name="password" required>
    </form>
    <button type="submit">
    Login
    </button>
{% endblock %}